Options -Indexes
<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|phtml|phar|py|exe|sh|sql|log)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
